<?xml version="1.0" encoding="UTF-8"?>

<included>
    <appender name="DEID_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/deid-tool.log</file>
        <encoder><pattern>%d %-5level [%thread] %logger{36} - %msg%n</pattern></encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/deid-tool.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.ecw.deidtool" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEID_FILE"/>
    </logger>
</included>
