<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOG_HOME" value="logs"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <include resource="com/ecw/deidtool/logging/logback-module.xml"/>
    <include resource="com/ecw/dashboard/logging/logback-module.xml"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
